.colS-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, {
	position:relative;
	min-height: 1px;
}
.col-1  { width: 8.33%;  }
.col-2  { width: 16.67%; }
.col-3  { width: 25%;    }
.col-4  { width: 33.33%; }
.col-5  { width: 41.67%; }
.col-6  { width: 50%;    }
.col-7  { width: 58.33%; }
.col-8  { width: 66.67%; }
.col-9  { width: 75%;    }
.col-10 { width: 83.33%; }
.col-11 { width: 91.67%; }
.col-12 { width: 100%;   }
.col-offset-1  { margin-left: 8.33%;  }
.col-offset-2  { margin-left: 16.67%; }
.col-offset-3  { margin-left: 25%;    }
.col-offset-4  { margin-left: 33.33%; }
.col-offset-5  { margin-left: 41.67%; }
.col-offset-6  { margin-left: 50%;    }
.col-offset-7  { margin-left: 58.33%; }
.col-offset-8  { margin-left: 66.67%; }
.col-offset-9  { margin-left: 75%;    }
.col-offset-10 { margin-left: 83.33%; }
.col-offset-11 { margin-left: 91.67%; }
.col-offset-12 { margin-left: 100%;   }
/*=============================*/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	font-family: arial, sans-serif;
	font-size:13px;
	color:#404040;
	background:#fff;
}
#link-def{
    text-decoration: none;
    color:inherit;
}
a {
	text-decoration: none;
	color:inherit;
}
a:hover {
	color:inherit;
}
a:visited {
	text-decoration: none;
	color:inherit;
}
a.link-def {
    text-decoration: none;
    color:inherit;
}
a.link-def:hover {
    text-decoration: none;
    color:inherit;
}
a.link-ul {
    text-decoration: none;
    color:inherit;
}
a.link-ul {
    text-decoration: underline;
    color:#404040;
}
.btn-primary, .btn-dangers, .btn-success, .btn-default, .btn-warning {
	font-weight: 600;
	padding:7px 12px;
	border-radius:2px;
	cursor:pointer;
}
.btn-default {
	background:-webkit-linear-gradient(top, #fefefe, #dbdbdb);
	border:1px solid #dbdbdb;
    color:#909090;
}
.btn-primary {
	background:-webkit-linear-gradient(top, #4387fd, #4683ea);
	border:1px solid #4285f4;
    color:#fff;
}
.btn-dangers {
	background:-webkit-linear-gradient(top, #c43627, #971f16);
	border:1px solid #891919;
    color:#fff;
}
.btn-warning {
	background:-webkit-linear-gradient(top, #FFD400, #FFAA00);
	border:1px solid #FFAA00;
    color:#fff;
}
.btn-success {
    background:-webkit-linear-gradient(top, #c9ea81, #afce6b);
	border:1px solid #90ad50;
    color:#677f24;
    color:#fff;
}
.alert {
    margin: 5px;
    color: #FFF;
    cursor: default;
}
.input-default {
	padding:10px 15px;
	border-radius:2px;
	border:1px solid #e5e5e5;
	width:200px;
	margin:5px;
	color:#404040;
}
.link-2 {
	color:#4387fd;
}
.link-2:hover{
	text-decoration: underline;
}
/*==================================*/
.no-of {
	overflow:hidden;
}
.nav-bar {
	border-bottom:1px solid #e5e5e5;
	padding:20px 15px;
	z-index: 99999;
	box-shadow:0px 1px 2px #e5e5e5;
}
.nav-bar > div {
	display:inline-block;
	vertical-align: middle;
}
.brand {
	padding-left:25px;
    margin-right:25px;
}
.brand img {
	height:50px;
}
.nav-list {
	text-align: right;
}
.nav-list ul li {
	display:inline-block;
	padding:5px 10px;
}
.nav-list ul a li:hover {
	text-decoration: underline;
}
.acc {
	padding-top:10px;
}
.dropdown {
	display:inline-block;
	float:right;
}
.dropdown-content {
	display:none;
	position:absolute;
	margin-top:5px;
	border:1px solid #e5e5e5;
}
.dropdown-content a:last-child {
	border-bottom:1px solid #e5e5e5;
} 
.dropdown-content > a {
	background-color:#fff;
	border-bottom: 1px solid #e5e5e5;
	padding:12px 17px;
	display:block;
}
.dropdown-content > a:hover {
	background-color:#e5e5e5;
}
.show {
	display:block;
}
.home-bg {
	width:100%;
	height:600px;
	background-image:url(../images/bg.svg);
	background-size:cover;
	z-index: 1;
}
.user-form, .reg-form {
	margin-top:50px;
	border:1px solid #e5e5e5;
	background-color:#efefef;
	border-radius:4px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	text-align: center;
}
.search-bar {
    text-align: center;
    margin-left:20px;
    margin-right:20px;
}
.user-form {
    height:450px;
}
.reg-form {
    height:auto;
    margin-bottom:50px;
    padding-bottom:25px;
}
.reg-form img {
	margin-top:50px;
	margin-bottom:15px;
}
.reg-form textarea {
    padding:5px;
    width:200px;
    max-width:200px;
}
.user-form img {
	margin-top:50px;
	margin-bottom:15px;
}
.radio-jk {
    transform:translateX(-20px);
}\
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.tl {
    text-align: left;
}
.tab-content-wrapper {
    margin-top:25px;
}
.tab-content {
    background:#efefef;
    border:1px solid #e0e0e0;
    text-align: center;
    padding:15px 10px 30px 10px;
    overflow-x: auto;
}
.tab-content-head {
    text-align: right;
    font-family: Cambria;
    font-size:2.2em;
    margin-bottom:20px;
}
.tab-content-head table tr td:first-child {
    width:40%;
}
.tab-content-head table tr td h3 {
    text-align: left;
    padding-left:20px;
}
.tab-content-body table{
    margin-top:15px;
    width:100%;
    border-collapse: collapse;
}
.tab-content-body textarea {
    padding:7px 12px;
    vertical-align: middle;
    width: 200px;
    max-width: 200px;
    height:43px;
    max-height:100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tab-content-body thead tr th {
    padding:7px 12px;
    font-weight: 600;
    background: #e0e0e0;
    text-align: center;
}
.tab-content-body  tr td{
    padding:7px 12px;
}
.tab-content-body tr:nth-child(odd){
    background: rgba(0,0,0,.2);
}
.tab-content-action {
    padding-left:15px;
}
.tab-content-action ul li{
    text-align: left;
    list-style: none;
}
.plus {
    font-size:1.5em;
    vertical-align: middle;
}
input[type="date"]{
    text-transform: uppercase;
}
.footer {
	position:absolute;
	bottom:0;
	left:0;
	text-align: right;
	color:#111;
}
.tab-pinjam {
    text-align: center;
}
.date {
    margin-top:20px;
}
.date:after {
    content:attr(data-tip);
    font-size:.8em;
    position:absolute;
    transform:translateY(-120%) translateX(-10px);
    background-color:#e5e5e5;
    border: 1px solid #666;
    padding:3px 7px;
}

.radio-group {
    padding:7px 12px;
    display:inline-block;
    border:1px solid #e0e0e0;
    background:#fff;
    border-radius:2px;
}
/*=============================================*/
@media (max-width: 1000px){
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        position:relative;
        min-height:1px;
        width:100%;
    }
    .col-offset-1,
	.col-offset-2,
	.col-offset-3,
	.col-offset-4,
	.col-offset-5,
	.col-offset-6,
	.col-offset-7,
	.col-offset-8,
	.col-offset-9,
	.col-offset-10,
	.col-offset-11,
	.col-offset-12 {
		margin-left:0;
	}
    .nav-bar {
    	height:250px;
    }
    .nav-bar > div {
        margin-top:10px;
    }
    .brand, .nav-list {
        text-align: center;
    }
    .acc {
		text-align: right; 
		padding-top:0;
    }
    .home-bg {
    	background-position: right bottom;
    }
    .dropdown-content {
        right:0;
    }
    .search-bar {
        text-align: center;
}